.newFile {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    padding-left: 20px;
}

.new{
    margin-bottom: 0px;
}

div {
    position: relative;
  } 
.uploadFile {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
} 

.newFile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* TRouBLe */
    padding: 6px 32px 6px 8px;
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    cursor: pointer;
}

.newFile_container>p{
    margin-left: 14px;
}